<div class="footer py-4 d-flex flex-column flex-md-row flex-stack" id="kt_footer">
   
    <div class="text-dark order-2 order-md-1">
        <span class="text-muted fw-bold me-1">2021©</span>
        <a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">GM Holdings</a>
    </div>
    
    
</div>