<style>
    .modal-dialog.size-adaptive {
        max-width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (max-width:767px) {
        .modal-dialog.size-adaptive {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
</style>
<div id="kt_modal_media_manager" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered size-adaptive">
        <div class="modal-content rounded ">
            <div class="modal-header card-header pb-1 pt-2 px-5 justify-content-between">
                <div class="d-flex">
                <h3 class="fw-bolder my-2">Thư viện hình ảnh<span class="fs-6 text-gray-400 fw-bold ms-1">+590</span>
                </h3>
                <button type="button" class="btn btn-light-primary ms-3" data-bs-toggle="modal" data-bs-target="#kt_modal_upload">
                    <span class="svg-icon svg-icon-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path opacity="0.3" d="M10 4H21C21.6 4 22 4.4 22 5V7H10V4Z" fill="black"></path>
                            <path d="M10.4 3.60001L12 6H21C21.6 6 22 6.4 22 7V19C22 19.6 21.6 20 21 20H3C2.4 20 2 19.6 2 19V4C2 3.4 2.4 3 3 3H9.20001C9.70001 3 10.2 3.20001 10.4 3.60001ZM16 11.6L12.7 8.29999C12.3 7.89999 11.7 7.89999 11.3 8.29999L8 11.6H11V17C11 17.6 11.4 18 12 18C12.6 18 13 17.6 13 17V11.6H16Z" fill="black"></path>
                            <path opacity="0.3" d="M11 11.6V17C11 17.6 11.4 18 12 18C12.6 18 13 17.6 13 17V11.6H11Z" fill="black"></path>
                        </svg>
                    </span> Tải lên</button>
            </div>
                   
                        <button class="btn btn-lg btn-icon btn-active-color-primary" data-bs-dismiss="modal"><i
                            class="fas fa-times fs-3"></i></button>
                
                
            </div>
            <div class="modal-body p-0">
                <div class="row">
                    <div class="media-body ps-7 pe-5 pe-lg-1 col-12 col-xl-10 col-md-10 scroll-y">
                        <div class="row mt-2 gy-1 gx-2">
                            <div class="col-6 col-md-6 col-lg-2 col-xl-1">
                                <div class="card h-50 ">
                                    <img src="backend/assets/media/products/1.png" alt="" class="img-thumbnail" />
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-2 col-xl-1">
                                <div class="card h-50 ">
                                    <img src="backend/assets/media/products/2.png" alt="" class="img-thumbnail" />
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-2 col-xl-1">
                                <div class="card h-50 ">
                                    <img src="backend/assets/media/products/3.png" alt="" class="img-thumbnail" />
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-2 col-xl-1">
                                <div class="card h-50 ">
                                    <img src="backend/assets/media/products/4.png" alt="" class="img-thumbnail" />
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-2 col-xl-1">
                                <div class="card h-50 ">
                                    <img src="backend/assets/media/products/5.png" alt="" class="img-thumbnail" />
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-2 col-xl-1">
                                <div class="card h-50 ">
                                    <img src="backend/assets/media/products/6.png" alt="" class="img-thumbnail" />
                                </div>
                            </div>
                            <div class="col-6 col-md-6 col-lg-2 col-xl-1">
                                <div class="card h-50 ">
                                    <img src="backend/assets/media/products/7.png" alt="" class="img-thumbnail" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 ps-2 pe-7 pt-3 col-md-2 border-start">
                        <div class="file-infomation d-none d-lg-block">
                            <div class="thumbnail"><img src="backend/assets/images/default-image.jpg"
                                    class="img-thumbnail" /></div>
                            <hr class="text-muted">
                            <table class="table">
                                <tr class="">
                                    <td>Tên ảnh</td>
                                    <td class="float-end">dsad</td>
                                </tr>
                                <tr>
                                    <td>Kích thước</td>
                                    <td class="float-end">dsad</td>
                                </tr>
                                <tr>
                                    <td>Loại ảnh</td>
                                    <td class="float-end">dsad</td>
                                </tr>
                                <tr>
                                    <td>Dường dẫn</td>
                                    <td class="float-end">dsad</td>
                                </tr>
                                <tr>
                                    <td>Uploaded</td>
                                    <td class="float-end">dsad</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="model-footer card-footer d-flex justify-content-end p-5">
                <button type="button" class="btn btn-primary">Chèn ảnh</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary ms-2">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div id="kt_modal_upload" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <div class="modal-content">
            <form id="kt_modal_upload_form" class="form" action="none">
                <div class="modal-header">
                    <h2 class="fw-bolder">Upload files</h2>
                    <div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal"> </div>
                </div>
                <div class="modal-body pt-10 pb-15 px-lg-17">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="dropzone dropzone-queue mb-2" id="kt_modal_upload_dropzone">
                                <div class="dropzone-panel mb-4">
                                    <a class="dropzone-select btn btn-sm btn-primary me-2">Attach files</a>
                                    <a class="dropzone-upload btn btn-sm btn-light-primary me-2">Upload All</a>
                                    <a class="dropzone-remove-all btn btn-sm btn-light-primary">Remove All</a>
                                </div>
                                <div class="dropzone-items wm-200px">
                                    <div class="dropzone-item p-5" style="display:none">
                                        <div class="dropzone-file">
                                            <div class="dropzone-filename text-dark" title="some_image_file_name.jpg">
                                                <span data-dz-name="">some_image_file_name.jpg</span>
                                                <strong>(
                                                <span data-dz-size="">340kb</span>)</strong>
                                            </div>
                                            <div class="dropzone-error mt-0" data-dz-errormessage=""></div>
                                        </div>
                                       
                                        <div class="dropzone-progress">
                                            <div class="progress bg-light-primary">
                                                <div class="progress-bar bg-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" data-dz-uploadprogress=""></div>
                                            </div>
                                        </div>
                                        
                                        <div class="dropzone-toolbar">
                                            <span class="dropzone-start">
                                                <i class="bi bi-play-fill fs-3"></i>
                                            </span>
                                            <span class="dropzone-cancel" data-dz-remove="" style="display: none;">
                                                <i class="bi bi-x fs-3"></i>
                                            </span>
                                            <span class="dropzone-delete" data-dz-remove="">
                                                <i class="bi bi-x fs-1"></i>
                                            </span>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <span class="form-text fs-6 text-muted">Max file size is 1MB per file.</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
